html {
  font-size: 10px;
  font-family: "Open Sans", sans-serif;
}

body {
  margin: 0;
  height: 100vh;
  background: linear-gradient(140deg, #c5d6b5, #a0a1ab);
  display: flex;
  justify-content: center;
  align-items: center;
}

.translucent-box {
  position: relative;
  background-color: rgba(255, 255, 255, 0.7); /* 70% opacity */
  padding: 20px;
  width: 70%;
  min-height: 50vh;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-rectangle {
  position: absolute;
  top: 0;
  left: 0;
  height: 5vh;
  width: 100%; /* 50% of the viewport width */
  background-color: #ffffff; /* Opaque white */
  border-radius: 2px;
}

.left-column {
  position: absolute;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
  gap: 5%;
  top: 0;
  left: 0;
  height: 100%;
  width: 40%; /* 30% of the width of its parent element */
  min-width: 400px;
  max-width: 450px;
  background-color: #ffffff; /* Opaque white */
  border-radius: 2px;
}

.calendar-navigation {
  text-align: center;
}

.calendar-navigation span,
.calendar-navigation p {
  display: inline-block;
  vertical-align: middle;
}

.calendar-navigation .calendar-current-date,
.symbols {
  font-size: 20px;
}

.calendar-navigation .calendar-current-date {
  padding-left: 10px;
  padding-right: 10px;
}

.calendar-navigation .symbols {
  cursor: pointer;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 9px;
  padding-right: 9px;
  font-weight: 900;
  background-color: rgb(116, 80, 139);
  color: white;
  border-radius: 100%;
}

.calendar {
  table-layout: fixed;
  position: relative;
  top: 10%;
  left: 10%;
  width: 80%;
  height: auto;
  border-collapse: separate;
  border-spacing: 10px 10px;
}

.calendar-header {
  color: #c5d6b5;
  font-weight: bold;
  font-size: 12px;
}

.calendar-dates {
  cursor: pointer;
  font-weight: 800;
  text-align: center;
}

.inactive {
  color: #c0c0c0;
  font-weight: 100;
}

.active {
  padding: 5px;
}

.today-active {
  padding: 5px;
  border-radius: 10px;
  background-color: rgb(116, 80, 139);
  color: white;
}

.calendar-container {
  margin-top: 1%;
}

.message-container {
  display: block;
}

.message {
  text-align: center;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-container {
  display: flex;
  height: 100%;
}

.button {
  text-align: center;
  padding: 10px;
}

.padding-box {
  height: 100%;
  width: 40%;
  min-width: 400px;
  max-width: 450px;
}
