html {
  font-size: 10px;
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  height: 100vh;
  background: darkseagreen;
  display: flex;
  justify-content: center;
  align-items: center;
}

.translucent-box {
  position: relative;
  background-color: rgba(255, 255, 255, 0.7); /* 70% opacity */
  padding: 20px;
  width: 70%;
  min-width: 530px;
  max-width: 700px;
  min-height: 450px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.header-rectangle {
  position: absolute;
  top: 0;
  left: 0;
  height: 60px;
  width: 100%; /* 50% of the viewport width */
  background-color: #ffffff; /* Opaque white */
  border-radius: 4px;
}

.left-column {
  position: absolute;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
  gap: 5%;
  top: 0;
  left: 0;
  height: 100%;
  width: 500px;
  background-color: #ffffff; /* Opaque white */
  border-radius: 4px;
}

.calendar-navigation {
  display: flex;
  height: 60px;
  padding-left: 7%;
  padding-right: 7%;
}

/* .calendar-navigation span,
.calendar-navigation p {
  vertical-align: middle;
} */

/* .calendar-navigation .calendar-current-date,
.symbols {
  font-size: 20px;
}

.calendar-navigation .calendar-current-date {
  padding-left: 10px;
  padding-right: 10px;
} */

.calendar-navigation p {
  width: 100%;
  font-size: 20px;
  text-align: initial;
}

.calendar-navigation .symbols {
  cursor: pointer;
  width: 0;
  height: 0;
  border-style: solid;
  margin: 3px;
}

#calendar-prev {
  border-width: 5px 10px 5px 0px;
  border-color: transparent mediumseagreen transparent transparent;
}

#calendar-next {
  border-width: 5px 0px 5px 10px;
  border-color: transparent transparent transparent mediumseagreen;
}

.calendar {
  table-layout: fixed;
  position: relative;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  border-collapse: separate;
  border-spacing: 10px 10px;
  block-size: 100%;
}

.calendar-arrows {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: end;
  align-items: center;
}

thead tr th {
  font-weight: 100;
}

td {
  padding: 0;
  margin: 0;
}

.calendar-header {
  color: mediumseagreen;
  font-size: 15px;
}

.calendar-dates {
  cursor: pointer;
  font-size: medium;
  text-align: center;
}

.inactive {
  color: #c0c0c0;
  font-weight: 100;
}

.active {
  padding: 5px;
}

.today-active {
  padding: 5px;
  border-radius: 10px;
  background-color: mediumseagreen;
  color: white;
}

.calendar-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.message-container {
  display: block;
}

.message {
  text-align: center;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin-top: 25px;
}

.header-container {
  display: flex;
  height: 100%;
}

.padding-box {
  height: 100%;
  width: 40%;
  min-width: 400px;
  max-width: 450px;
}

.schedule-container {
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  width: 32%;
}

.message-text {
  font-size: 15px;
  font-style: italic;
  margin-bottom: 0;
}

.message-text-date {
  margin-top: 7px;
  font-size: 24px;
  font-weight: 700;
  color: mediumseagreen;
}

.button button {
  background: mediumseagreen;
  border: none;
  padding: 0;
  margin: 0;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  text-align: center;
  cursor: pointer;
  color: white;
  margin: 4px;
  padding: 12px;
  border-radius: 9px;
  font-weight: 400;
}

.button {
  display: grid;
  width: 80%;
}

.button button:hover {
  background-color: rgb(37, 110, 70);
}

.button button:disabled {
  background-color: rgb(197, 197, 197);
  pointer-events: none;
}

/* CSS */
.button-28 {
  appearance: none;
  background-color: transparent;
  border: 2px solid #1a1a1a;
  border-radius: 15px;
  box-sizing: border-box;
  color: #3b3b3b;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  will-change: transform;
}

.button-28:disabled {
  pointer-events: none;
}

.button-28:hover {
  color: #fff;
  background-color: #1a1a1a;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.button-28:active {
  box-shadow: none;
  transform: translateY(0);
}
